<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           				http://www.springframework.org/schema/beans/spring-beans.xsd
           				http://www.springframework.org/schema/context
         				http://www.springframework.org/schema/context/spring-context.xsd" >
	<bean id="dao" class="dao.DaoImpl"></bean>
	<bean id="metier" class="metier.MetierImpl" autowire="byName">
		<property name="nom" value="Plombier"></property>
		<property name="outils">
			<list>
				<value>Fer a souder</value>
				<value>Cle a molette</value>
				<value>Tournevis</value>
			</list>
		</property>
	</bean>
	<bean id="metier2" class="metier.MetierImpl" init-method="init" parent="metier">
<!-- 		<property name="salaire" value="2156"></property> -->
	</bean>
</beans>