<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           				http://www.springframework.org/schema/beans/spring-beans.xsd
           				http://www.springframework.org/schema/context
         				http://www.springframework.org/schema/context/spring-context.xsd" >


		<bean id="dao" class="dao.DaoImpl"/>						
		
						
		<bean id="metier" class="metier.MetierImpl" autowire="byName">
			
			<property name="nom" value="Boulanger"/>
			<property name = "outils">			
				<list>
					<value>Marteau</value>
					<value>Pelle</value>
					<value>Four</value>				
				</list>
			</property>
			<property name = "outils">			
				<map>
					<entry key="M" value="Marteau"/>
					<entry key="P" value="Pelle"/>
					<entry key="F" value="Marteau"/>					
				</map>				
			</property>
		</bean>	
		<bean id="metier2" class="metier.MetierImpl" parent="metier">
			<property name="salaire" value="2158"/>
		</bean>
</beans>











