<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/HibernateConfiguration DTD 5.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-5.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bat</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL5InnoDBDialect
		</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- <property name="hbm2ddl.auto">create</property> -->

		<property name="hibernate.current_session_context_class">
			thread
		</property>
		<!-- <property name="hibernate.connexion.autocommit">true</property> -->
		<!-- <mapping resource = "Modeles.hbm.xml"/> -->


		<mapping class="com.infotel.gg.model.Address" />
		<mapping class="com.infotel.gg.model.Booking" />
		<mapping class="com.infotel.gg.model.BookingReport" />
		<mapping class="com.infotel.gg.model.City" />
		<mapping class="com.infotel.gg.model.CookingStyle" />
		<mapping class="com.infotel.gg.model.Country" />
		<mapping class="com.infotel.gg.model.Customer" />
		<mapping class="com.infotel.gg.model.Eatery" />
		<mapping class="com.infotel.gg.model.EateryManager" />
		<mapping class="com.infotel.gg.model.EateryTag" />
		<mapping class="com.infotel.gg.model.ImageData" />
		<mapping class="com.infotel.gg.model.Menu" />
		<mapping class="com.infotel.gg.model.PracticalInformation" />
		<mapping class="com.infotel.gg.model.Person" />
		<mapping class="com.infotel.gg.model.Region" />
		<mapping class="com.infotel.gg.model.Review" />
		<mapping class="com.infotel.gg.model.User" /> 
		
	</session-factory>
</hibernate-configuration>
